body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0c0c0c;
    color: #FF4500;
}

.hero {
    text-align: center;
    background: url('Kolobok.jpg') center / cover no-repeat;
    background-color: #111;
}

.title {
    font-size: 3rem;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.3rem;
    opacity: 0.8;
}

.nav a {
    margin: 0 15px;
    color: #00e0ff;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
}

form input, form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 12px 25px;
    border: none;
    background: #00e0ff;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
